<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<form th:action="@{/main}" method="post">

    <div><label><input type="text" name="login" placeholder="Введите логин"></label></div>
    <div><label><input type="text" name="password" placeholder="Введите пароль"></label></div>
    <div><label><input type="text" name="email" placeholder="Введите почту"></label></div>
    <div><input type="submit", value="Добавить"></div>
</form>
<div>Список сообщений</div>
<ul>
    <li th:each="account : ${accounts}">
        <span th:text="${account.login}">Login</span> -
        <span th:text="${account.email}">Email</span>
    </li>
</ul>
</body>
</html>
